logs/
.gradle/
.idea/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.pmd
.pmdruleset.xml
.checkstyle
.classpath
.project
.settings
.factorypath
.springBeans

# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store
/.apt_generated/
